<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="footer" align="left">

    <div class="container">

        <footer>
            <!-- this is footer -->
            © 2018 sys.sinergia.com.br |
            <span>
                <a th:href="@{/logout}">Deslogar</a>
            </span>
            <script type="text/javascript"
                    src="webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        </footer>
    </div>
</div>
</body>
</html>