<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>AppSecurity © Anexos</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Novo Anexo</strong>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" th:object="${anexo}" th:action="@{/editsave/{id} (id=${anexo.codigo})}" method="POST" style="margin: 10px"
              enctype="multipart/form-data">
            <div class="form-group">
                <fieldset>
                    <div class="form-group row">
                        <div class="col-md-1">
                            <input type="text" class="form-control input-sm" id="id" align="center"
                                   th:value="${anexo.codigo}" readOnly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>Descrição</label>
                            <input type="text" class="form-control input-sm" th:value="${anexo.descricao}"
                                   name="nameFile" id="nameFile" required="true"
                                   autofocus="autofocus" placeholder="Informe uma descrição para o anexo"
                                   maxlength="30"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>Arquivo</label>
                            <input type="file" name="anexo" >
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
                <a th:href="@{/anexos}" class="btn btn-sm btn-default">Cancelar</a>
            </div>
        </form>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>